<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="static/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="static/timer.css"/>
  <link rel="stylesheet" type="text/css" href="static/heatmap.css">

  <script src="static/moment.js" charset="utf-8"></script>
  <script src="static/d3.js" charset="utf-8"></script>
  <script src="static/heatmap.js"></script>

  <title>PhD Timer</title>
</head>

<body>
  <div class="navbar navbar-default">
	<div class="container">	
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
			  <img alt="Brand" src="static/gauss.png">
			  CS_Lab
			</a>	
		</div>	

		<div class="navbar-right" style="padding: 15px 0px;">
		  <a href="{{logout_url}}">Logout</a> 
		</div>
	</div>
  </div>
  

  <div class="container">
    <div class="row">
      <div class="col-sm-2"> </div>

      <div class="col-lg-8 col-md-10 col-sm-12">

      	
      	  <div class="col-sm-6 timer-div">
      	    <a href="#" title="Play video" class="play"></a>
      	  </div>

      	  <div class="col-sm-6 timer-div">
      	  </div>
      	

        <div id="calendar-viz">
        </div>
      </div>

    </div>
  </div>



</body>
</html>
