<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="static/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="static/timer.css"/>
  <link rel="stylesheet" type="text/css" href="static/heatmap.css">

  <script src="static/moment.js" charset="utf-8"></script>
  <script src="static/d3.js" charset="utf-8"></script>
  <script src="static/d3-bootstrap.js"></script>
  <script src="static/heatmap.js"></script>


  <title>PhD Timer</title>
</head>

<body>
  <div class="navbar navbar-default">
	<div class="container">	
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
			  <img alt="Brand" src="static/gauss.png">
			  CS_Lab
			</a>	
		</div>	

		<div class="navbar-right" style="padding: 15px 0px;">
		  <a href="{{logout_url}}">Logout</a> 
		</div>
	</div>
  </div>
  

  <div class="container">
    <div class="row">
      <div class="col-sm-2"> </div>

      <div class="col-lg-8 col-md-10 col-sm-12">

      	<div id="enclose-div">
      	  <div class="col-sm-6 timer-div">
      	    <a  title="Play video" class="play"></a>

      	    <div id="started-div" class="dis-div"></div>
      	    <div id="current-div" class="dis-div"></div>

      	    <div id="current-time" class="dis-div"></div>
      	    
      	  </div>

      	  <div class="col-sm-6 timer-div">
      	    
      	  	<div id="prev-div" class="dis-div"></div>
      	  	<div id="total-div" class="dis-div">
      	  		<div></div> <a href='javascript:;' id="total-edit" class="disabled">Edit</a> 
      	  	</div>

      	  	<div id="date-div" class="dis-div">
      	  		<div></div> 
      	  	</div>

      	  	<div class="dis-div">
      	  	  <button class="btn btn-success" id="commit-button" disabled="disabled">Commit</button>
      	  	</div>
      	  </div>
      	</div>

        <div id="calendar-viz">
        </div>
      </div>

    </div>
  </div>

  <div id="alert-bottom" class="alert alert-success alert-dismissable  fade in show">
	<div></div>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>


</body>
</html>
